<head>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <!--Div tela inteira-->
    <div style="position: relative; display: inline-block">
        <!--Div espaço das health bars-->
        <div style="position: absolute; display: flex; width: 100%; align-items: center; padding: 20px">
            <!--Player health-->
            <div style="position: relative; height: 30px; width: 100%">
                <div style="background-color: yellow; height: 30px"></div>
                <div id="playerHealth" style="position: absolute; background: blue; top:0; right: 0; bottom: 0; left: 0"></div>
            </div>
            <!--Timer-->
            <div style="background-color: red; width: 100px; height: 100px; flex-shrink: 0"></div>
            <!--Enemy health-->
            <div style="position: relative; height: 30px; width: 100%">
                <div style="background-color: yellow; height: 30px"></div>
                <div id="enemyHealth" style="position: absolute; background: blue; top:0; right: 0; bottom: 0; left: 0"></div>
            </div>
         </div>
        <canvas></canvas>
    </div>
    <script src="index.js"></script>
</body>
